.about
	&__title_h3
		font-family: Oswald
		font-style: normal
		font-weight: 500
		font-size: 28px
		line-height: 41px
		color: var(--black)
	&__row
		display: flex
		justify-content: space-between
		padding-top: 30px
	&__col
		&.left
			width: 41%
			& img
				width: 100%
				height: 100%
				object-fit: cover
		&.right
			width: 49%
			padding: 20px 0
	&__ph

	&__article
		font-family: Roboto
		font-style: normal
		font-weight: 300
		font-size: 16px
		line-height: 160%
		color: var(--black60)
		margin-top: 15px
		margin-bottom: 40px
	&__btn
		border-radius: 7px
		background-color: var(--blue)
		padding: 11px 52px
		color: var(--white)
		font-family: Oswald
		font-style: normal
		font-weight: normal
		font-size: 16px
		line-height: 24px