/*    <NULL>    */

*
	padding: 0
	margin: 0
	border: 0
	font-family: 'Open Sans', Arial, Helvetica, sans-serif
*, *:before,*:after
	-moz-box-sizing: border-box
	-webkit-box-sizing: border-box
	box-sizing: border-box
*:focus, *:active
	outline: none
a:focus, a:active
	outline: none
nav, footer, header, aside
	display: block
html, body 
	font-size: 100%
	line-height: 1
	font-size: 14px
	-moz-text-size-adjust: 100%
	-webkit-text-size-adjust: none
	-webkit-overflow-scrolling: touch
	overflow-x: hidden
input, button, textarea
	font-family: inherit
input::-ms-clear
	display: none
button
	cursor: pointer
	background: transparent
button::-moz-focus-inner
	padding: 0
	border: 0
a, a:visited
	text-decoration: none
a:hover
	text-decoration: none
ul li
	list-style: none
img
	vertical-align: top
	max-width: 100%
h1,h2,h3,h4,h5,h6
	font-size: inherit
	font-weight: 400

/*    </NULL>    */


/*    <GLOBAL>    */

\:root
	--white: rgba(255,255,255, 1)
	--white10: rgba(255,255,255, .1)
	--white50: rgba(255,255,255, .5)
	--white60: rgba(255,255,255, .6)
	--blue: #0B9EC7
	--red: #FF5D46
	--red-dark: #CC5626
	--gray: #F9F9F9
	--placeholder-color: #ADADAD
	--black: #333333
	--black05: rgba(51,51,51,.05)
	--black10: rgba(51,51,51,.1)
	--black15: rgba(51,51,51,.15)
	--black30: rgba(51,51,51,.3)
	--black60: rgba(51,51,51,.6)
	--black02: #272727
	--green: #9ED53F
	--green-dark: #80B721
	--box-shadow: rgba(0, 0, 0, 0.13)
	--active-bullet-color: rgba(0, 122, 173, 0.35)
.fix-cont 
	max-width: 1170px
	min-width: 320px
	margin: 0 auto
	height: 100%
	width: 100%

@media(max-width:1200px) 
	.fix-cont 
		max-width: 970px
		padding-left: 15px
		padding-right: 15px
	


@media(max-width:992px) 
	.fix-cont 
		max-width: 750px
	


@media(max-width:767px) 
	.fix-cont 
		max-width: none
	

.title_h2
	font-family: Oswald
	font-style: normal
	font-weight: 500
	font-size: 28px
	line-height: 41px
	color: var(--black)
	text-align: left

.slider-controls
	position: absolute
	top: 0
	right: 0
	display: flex
	justify-content: space-between
	width: 97px
	&__btn
		width: 41px
		height: 41px
		border-radius: 7px
		background-color: var(--gray)
		position: relative
		display: flex
		justify-content: center
		align-items: center
		&.white-bg
			background-color: var(--white)
		& .arrow
			stroke: var(--blue)
		&.swiper-button-disabled
			& .arrow
				stroke: var(--black30)
/*    </GLOBAL>    */