.news
	margin: 60px 0
	&__title_h3
		font-family: Roboto
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 150%
		color: var(--black)
	&__row
		display: flex
		justify-content: space-between
		padding-top: 30px
	&__item
		width: 270px
		display: flex
		flex-direction: column
		justify-content: flex-start
		align-items: flex-start
		&:hover
			& .news__ph
				transform: scale(1.1)
				transition: all linear .4s
			& .news__link
				color: var(--red)
	&__phcont
		border-radius: 10px 10px 0px 0px
		overflow: hidden
		height: 200px
	&__ph
		width: 100%
		height: 100%
		object-fit: cover
		transform: scale(1)
		transition: all linear .2s
	&__text
		border-radius:  0px 0px 10px 10px
		border-left: 1px solid var(--black10)
		border-right: 1px solid var(--black10)
		border-bottom: 1px solid var(--black10)
		padding: 20px 20px 17px
	&__props
		display: flex
		justify-content: space-between
		margin-top: 13px
	&__date
		font-family: Roboto
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 16px
		color: var(--black60)
	&__link
		font-family: Roboto
		font-style: normal
		font-weight: 500
		font-size: 14px
		line-height: 150%
		color: var(--blue)