.order
	&__col

	&__item

	&__title
		font-family: Oswald
		font-style: normal
		font-weight: 600
		font-size: 28px
		line-height: 41px
		color: var(--black)
	&__inputs
		display: flex
		justify-content: space-between
		align-items: flex-start
		flex-wrap: wrap
		& .order__inputs
			width: 45%
	&__input
		font-family: Open Sans
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 150%
		color: var(--black60)
		padding: 13px
		background-color: var(--gray)
		border-radius: 5px
		width: 45%
		margin: 10px 0
		&::placeholder
			font-family: Open Sans
			font-style: normal
			font-weight: normal
			font-size: 14px
			line-height: 150%
			color: var(--black60)
	&__radios

	&__products

	&__options

	&__option

