.preview
	margin-top: calc(30px + 197px)
	&__slider

	&__slide-cont
		height: 350px
		background-color: var(--gray)
		position: relative
	&__slide
		width: 100%
		height: 100%
		background-color: var(--gray)
		overflow: hidden
		display: flex
		position: relative
		border-radius: 10px
	&__slide-card
		width: 40%
		z-index: 2
		display: flex
		flex-direction: column
		justify-content: center
		aligh-items: flex-start
		padding-left: 30px
	&__status
		position: absolute
		top: 30px
		left: -20px
		background-color: var(--green)
		padding: 6px 27px
		font-family: Open Sans Condensed
		font-style: normal
		font-weight: bold
		font-size: 18px
		line-height: 155%
		text-transform: uppercase
		color: var(--white)
		z-index: 3
		&:before
			content: ''
			width: 20px
			height: 20px
			position: absolute
			top: 0
			right: -20px
			border-top: 20px solid var(--green)
			border-right: 20px solid transparent
		&:after
			content: ''
			width: 20px
			height: 20px
			position: absolute
			bottom: 0
			right: -20px
			border-bottom: 20px solid var(--green)
			border-right: 20px solid transparent
	&__status_triangle
		width: 20px
		height: 20px
		position: absolute
		bottom: -20px
		left: 0px
		border-top: 20px solid var(--green-dark)
		border-left: 20px solid transparent
	&__brand
		position: absolute
		top: 30px
		left: 42.5%
		transform: translateX(-50%)
		z-index: 3
	&__brand-ph

	&__slide-title
		font-family: Open Sans Condensed
		font-style: normal
		font-weight: bold
		font-size: 24px
		line-height: 155%
		text-transform: uppercase
		color: var(--black)
	&__slide-subtitle
		font-family: Open Sans
		font-style: normal
		font-weight: normal
		font-size: 15px
		line-height: 20px
		color: var(--black60)
		margin-top: 12px
		margin-bottom: 45px
	&__slide-row
		display: flex
	&__slide-btn
		font-family: Open Sans Condensed
		font-style: normal
		font-weight: bold
		font-size: 16px
		line-height: 155%
		display: flex
		align-items: center
		text-align: center
		color: var(--white)
		border-radius: 5px
		background-color: var(--blue)
		padding: 10px 33px
		margin-right: 30px
	&__slide-price
		font-family: Open Sans Condensed
		font-style: normal
		font-weight: bold
		font-size: 24px
		line-height: 155%
		text-transform: uppercase
		color: var(--black)
	&__slide-phcont
		width: 60%
		overflow: hidden
		position: relative
		z-index: 1
		&:after
			width: 20px
			height: 100%
			content: ""
			position: absolute
			top: 0
			left: 0
			border-top: 350px solid var(--gray)
			border-right: 130px solid transparent
	&__slide-ph
		width: 100%
		height: 100%
		object-fit: cover
	& .swiper-pagination-bullet
		background: var(--white50)
		opacity: 1
	& .swiper-pagination-bullet-active
		background: var(--active-bullet-color)
		backdrop-filter: blur(15px)
		opacity: 1
	& .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction
		bottom: 10px